def get_configs():
    return { 
        "partners" : {
            "INTERPARTNER" : {
                "wsdl" : "http://url-to-partner?wsdl"
            }
        },
        "globals" : {
            "aiai" : "iii"
        }
    }

def get_env():
    return 'testing'
