def get_configs():
    return { 
        "partners" : {
            "INTERPARTNER" : {
                "wsdl" : "http://url-to-partner?wsdl"
            },
            "FSECURE" : {
                "url"                           : "https://safeavenue-tp.sp.f-secure.com/api/%s/v2.0/",
                "endpoint_activate"             : "create_customer",
                "endpoint_downgrade"            : "update_customer",
                "endpoint_upgrade"              : "update_customer",
                "endpoint_cancel"               : "suspend_customer",
                "endpoint_reactivate"           : "resume_customer",
                "authentication"                : {
                    "telcel"    : {
                        "user"      : "telcel-api",
                        "password"  : "P2ewepaf"
                    },
                    "claro"    : {
                        "user"      : "claro-api",
                        "password"  : "Wr4Thuy5"
                    }
                }
            },
            "MCAFEE" : {
                'ACTIVATE_REQUEST_TYPE'         : 'NEW',
                'ACTIVATE_ITEM_ACTION'          : 'PD',
                'ACTIVATE_ORDER_REF'            : '',
                'OPTIN_GROUP_ID'                : '1',
                'OPTIN_GROUP_CODE'              : 'NL',
                'OPTIN_ID'                      : '2',
                'OPTION_CODE'                   : 'VN',
                'ITEM_QTY'                      : '1',
                'CANCEL_REQUEST_TYPE'           : 'UPDATE',
                'CANCEL_ITEM_ACTION'            : 'CN',
                'CHANGE_PASSWORD_REQUEST_TYPE'  : 'UPDPROFILE',
                'PREFERENCE_TYPE'               : 'LANG',
                'url'                           : 'http://201.20.34.30/provisionamento.php',
            }
        },
        "globals" : {
            "aiai" : "iii"
        },
        "enabled-queue" : True
    }

def get_env():
    return "testing"
